@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	padding: 0 !important;
	margin: 0 !important;
	@apply font-primary;
	@apply bg-light-200 scroll-smooth;
	@apply text-dark-100;
	z-index: -2 !important;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

/**************************************************************************/
/*****************************    Navbar   ********************************/
/**************************************************************************/

.navbar {
	@apply backdrop-blur-[40px] backdrop-brightness-200 bg-[rgba(255,255,255,0.8)];
}

.search-box {
	@apply h-[40px] bg-search-100 rounded-full p-1.5;
}

.search-box:hover > .search-text {
	@apply w-[275px] px-4;
}

.search-box:hover > .search-btn {
	@apply text-black bg-white;
}

.search-btn {
	@apply flex items-center justify-center float-right p-2 duration-300 rounded-full cursor-pointer w-7 h-7 bg-search-100 hover:bg-dark-200;
	text-decoration: none;
}

.search-text {
	border: none;
	background: none;
	outline: none;
	float: left;
	padding: 0;
	color: white;
	font-size: 12px;
	font-weight: normal;
	transition: 0.4s;
	line-height: 28px;
	width: 0px;
	@apply text-black;
}

/**************************************************************************/
/***************************    Scrollbar   *******************************/
/**************************************************************************/

html {
	overflow: auto !important;
	overflow-y: scroll !important;
	overflow-y: overlay !important;
}

/* Scroll bar width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: rgb(83, 194, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(83, 194, 75);
}
/**************************************************************************/
/***************************    Scrollbar   *******************************/
/**************************************************************************/

html {
	overflow: auto !important;
	overflow-y: scroll !important;
	overflow-y: overlay !important;
}

/* Scroll bar width */
::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 50px;
	background: rgb(83, 194, 75);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: rgb(83, 194, 75);
}

/**************************************************************************/
/****************************    Tooltip   ********************************/
/**************************************************************************/

.tooltip-button {
	background: none;
	font-family: "Roboto", "sans-serif";
	color: #7a7a7a;
	border: none;
	padding: 0px;
	margin: 0px;
	/* height: fit-content !important; */
	min-width: fit-content;
}

.tooltip-button:hover {
	background: none;
	border: none;
	color: #9c9c9c;
}

button.tooltip-button:focus,
button.tooltip-button:active {
	/* Removes the button outline on click */
	outline: none !important;
	box-shadow: none !important;
	background: none;
	border: none;
	color: #7a7a7a;
}

.tooltip-button i {
	margin-right: 5px;
}

/* Custom Tooltip */

[data-tooltip] {
	position: relative;
}

[data-tooltip]:hover {
	z-index: 10 !important;
}

/* Positioning and visibility settings of the tooltip */
[data-tooltip]:before,
[data-tooltip]:after {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	left: 50%;
	bottom: calc(80% + 5px); /* 5px is the size of the arrow */
	pointer-events: none;
	transition: 0.12s;
	will-change: transform;
}

/* The actual tooltip with a dynamic width */
[data-tooltip]:before {
	@apply dark:bg-dark-600 bg-light-100;
	content: attr(data-tooltip);
	padding: 10px 18px;
	min-width: 50px;
	max-width: 250px;
	width: max-content;
	width: -moz-max-content;
	border: 1.5px solid #6cc027;
	border-radius: 6px;
	font-size: 14px;
	/* background-image: linear-gradient(30deg, rgba(44, 53, 59, 0.9), rgba(48, 54, 59, 0.9), rgba(42, 56, 59, 0.9)); */
	/* box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.1); */
	font-family: "Roboto", "sans-serif";
	text-align: center;
	white-space: pre-wrap;
	transform: translate(-50%, -5px) scale(0.5);
	@apply text-black dark:text-white;
}

.sample_based_tooltip > [data-tooltip]:before {
	max-width: 180px !important;
}

/* Tooltip arrow */
[data-tooltip]:after {
	content: "";
	border-style: solid;
	border-width: 5px 5px 0px 5px; /* CSS triangle */
	border-color: #6cc027 transparent transparent transparent;
	transition-duration: 0s; /* If the mouse leaves the element, 
								the transition effects for the 
								tooltip arrow are "turned off" */
	transform-origin: top; /* Orientation setting for the
								slide-down effect */
	transform: translateX(-50%) scaleY(0);
}

/* Tooltip becomes visible at hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
	visibility: visible;
	opacity: 1;
}

/* Scales from 0.5 to 1 -> grow effect */
[data-tooltip]:hover:before {
	transition-delay: 0.1s;
	transform: translate(-50%, -5px) scale(1);
}

/* Arrow slide down effect only on mouseenter (NOT on mouseleave) */
[data-tooltip]:hover:after {
	transition-delay: 0.1s; /* Starting after the grow effect */
	transition-duration: 0.1s;
	transform: translateX(-50%) scaleY(1);
}

/*
	That's it for the basic tooltip.
  
	If you want some adjustability
	here are some orientation settings you can use:
*/

/* LEFT */
/* Tooltip + arrow */
[data-tooltip-location="left"]:before,
[data-tooltip-location="left"]:after {
	left: auto;
	right: calc(100% + 5px);
	bottom: 50%;
}

/* Tooltip */
[data-tooltip-location="left"]:before {
	transform: translate(-5px, 50%) scale(0.5);
}
[data-tooltip-location="left"]:hover:before {
	transform: translate(-5px, 50%) scale(1);
}

/* Arrow */
[data-tooltip-location="left"]:after {
	border-width: 5px 0px 5px 5px;
	border-color: transparent transparent transparent #6cc027;
	transform-origin: left;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="left"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* RIGHT */
[data-tooltip-location="right"]:before,
[data-tooltip-location="right"]:after {
	left: calc(100% + 5px);
	bottom: 50%;
}

[data-tooltip-location="right"]:before {
	transform: translate(5px, 50%) scale(0.5);
}
[data-tooltip-location="right"]:hover:before {
	transform: translate(5px, 50%) scale(1);
}

[data-tooltip-location="right"]:after {
	border-width: 5px 5px 5px 0px;
	border-color: transparent #6cc027 transparent transparent;
	transform-origin: right;
	transform: translateY(50%) scaleX(0);
}
[data-tooltip-location="right"]:hover:after {
	transform: translateY(50%) scaleX(1);
}

/* BOTTOM */
[data-tooltip-location="bottom"]:before,
[data-tooltip-location="bottom"]:after {
	top: calc(80% + 5px);
	bottom: auto;
}

[data-tooltip-location="bottom"]:before {
	transform: translate(-50%, 5px) scale(0.5);
}
[data-tooltip-location="bottom"]:hover:before {
	transform: translate(-50%, 5px) scale(1);
}

[data-tooltip-location="bottom"]:after {
	border-width: 0px 5px 5px 5px;
	border-color: transparent transparent #6cc027 transparent;
	transform-origin: bottom;
}

/* Tooltip Theme */

[data-tooltip-theme="glass"]:before {
	@apply dark:bg-dark-600/80 bg-light-100/10;
}


/* HERO */

.typed-out{
	overflow: hidden;
	white-space: nowrap;
	font-size: 1.6rem;
	width: 0%;
}
  
  #c1:checked ~ #check1, #c2:checked ~ #check2, #c3:checked ~ #check3{
	animation: typing 5000ms forwards;
  }
  
  #c1:checked ~ #check2, #c1:checked ~ #check3,
  #c2:checked ~ #check1, #c2:checked ~ #check3,
  #c3:checked ~ #check2, #c3:checked ~ #check1{
	visibility: hidden;
  }
  
  @keyframes typing {
	0% { width: 0%; }
	50%{  width: 100%; }
	100% { width: 0%; }
  }